*{
  margin: 0;
  padding: 0;
}

.layui-footer{
  text-align: center;
}
.iconfont,
.layui-icon{
  margin-right: 8px;
}

iframe{
  width: 100%;
  height: 100vh;
}

.layui-body{
  overflow: hidden;
}

/* css 层级选择器: 深度选择器 /deep/ >>> :deep(类名) > !important > 行内样式 > id选择器 > 类选择器 > 标签选择器 > 属性选择器 > *  */
a{
  transition: none !important;
}

.userinfo{
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 12px;
  user-select: none;
}

.layui-nav-img{
  width: 40px;
  height: 40px;
  /* display: none; */
}

.layui-side-scroll .userinfo{
  border-bottom: 1px solid #282b33;
}

.text-avatar{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #009688;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
  position: relative;
  top: 4px;
}